body {
    background-color: white;
    width: 100%;
}

.mainDiv {
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

.headerDiv {
    text-align: center;
}

.examTitle {
    font-size: 28px;
    border: 2px solid black;
    padding: 10px;
    width: 100%;
}

.additionalDiv {
    border: 2px solid black;
    margin-top: -20px;
    padding: 10px;
    text-align: center;
}

.examLevel {
    font-size: 24px;
}

.examType {
    font-size: 24px;
}

.nameDiv {
    text-align: left;
    padding: 10px;
    border: 2px solid black;
}

.bodyDiv {
    padding: 20px
}

.VocabQDiv {
    text-align: center;
    padding: 10px;
}

.VocabQuestion {
    text-align: right;
}

.rulesQDiv {
    text-align: center;
    padding : 10px;
}

.rulesQuestion {
    text-align: right;
}

.pickDiv {
    text-align: right;
    padding: 10px;
    /*
    direction: rtl;
    unicode-bidi: bidi-override;
    */
}

.pickNumberDiv {
    text-align: right;
    padding: 10px;
}